################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NCICyberEvent
/.vs
/EventManagement/EventManagement/bin/Debug/net6.0
/EventManagement/EventManagement/obj
