
/*************************
******Footer CSS****
**************************/

#footer {
    background-color: #212121;
    background-image: url("../images/footer-bg.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
    font-size: 20px;
    padding: 10px 0;
}

    #footer a {
        color: #f7ab24
    }

        #footer a:hover {
            color: #1B7B98
        }
